{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-property-sort-order-smacss",
    "stylelint-config-prettier"
  ],
  "rules": {
    "color-hex-length": "long",
    "no-missing-end-of-source-newline": null,
    "property-no-unknown": [true, { "ignoreProperties": ["font-smoothing"] }],
    "declaration-empty-line-before": null,
    "at-rule-no-unknown": null,
    "function-name-case": null
  }
}
