.container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  border: 0.2rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
}

.invalid {
  background-color: #ffe0e0;
}

.encoded {
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  font-size: 2rem;
  font-weight: 600;
}

.encoded .section {
  height: 100%;
}

.decoded {
  display: flex;
  flex-flow: column;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  border-left: 0.2rem solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  font-weight: 600;
}

.encoded code {
  display: block;
  flex-grow: 1;
  padding: 2rem;
  outline: none;
  font-size: 2.2rem;
  word-break: break-all;
}

.jwt-segment {
  padding: 0.2rem 0.4rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border: 0.1rem solid transparent;
  border-radius: 0.4rem;
  outline: none;
  background-color: transparent;
}

.jwt-segment:hover {
  border: 0.1rem solid #f1f160;
  background-color: #ffff0020;
}

.decoded section:nth-child(1),
.encoded span:nth-child(1) {
  color: #b60000;
}

.decoded section:nth-child(2),
.encoded span:nth-child(2) {
  color: green;
}

.decoded section:nth-child(3),
.encoded span:nth-child(3) {
  color: blue;
}

.decoded div {
  white-space: pre-wrap;
}

.section-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.5rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  color: #000000;
  font-size: 1.4rem;
}

.decoded-body {
  flex-grow: 1;
  padding: 2rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-family: monospace;
  font-size: 1.8rem;
}
